/* src/styles/global.css */
body {
  margin: 0;
  font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  padding: 20px;
}

footer {
  background: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

button {
  background-color: #f6d365;
  color: #fff;
  &:hover {
    background-color: #fda085;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
